$color-green-light-muted: #bbc712;
$color-green-dark-muted: #007200;
$color-green-very-dark-muted: #053b05;

$content-container-padding-x: 48px;
$content-container-padding-y: 96px;
$content-container-margin-y: 32px;